.container{
    height: 100vh;
    width: 100vw;
}
.subcont{
    display: grid;
    grid-template-columns: 100px auto;
    height: 100vh;
}
.header{
    display: grid;
    grid-template-rows: auto auto auto;
    padding:0;
    margin: 0;
}
.smedia{
    background-color:darkgrey;
    margin: 0;
    padding:0;
}
.menu{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    background-color:darkgrey;
    height: 100px;
    margin:0;
    padding: 0;
}
a{
 text-decoration: none;
 font-size: 15px;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 text-align:center;
}
.text{
    background-color: darkgray;
}
.inner{
    display: grid;
    grid-template-columns: 500px auto;
}
.inner2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;

}
.inner3{
    display: grid;
    grid-template-columns: auto auto auto;
}


